<!DOCTYPE html>
<html>
<head>
  <title>Indian Technical Authorship Contest 2023 - OpenGenus IQ: Computing Expertise &amp; Legacy</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="description" content="The Indian Technical Authorship Contest 2023 is a writing competition for engineering students in India. It runs from July 1st to October 1st, 2023.">
  <meta name="keywords" content="Indian Technical Authorship Contest, 2023, engineering students, writing competition">
  <meta name="author" content="OpenGenus">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Open Graph meta tags for social media sharing -->
  <meta property="og:title" content="Indian Technical Authorship Contest 2023">
  <meta property="og:description" content="The Indian Technical Authorship Contest 2023 is a writing competition for engineering students in India. It runs from July 1st to October 1st, 2023.">
  <meta property="og:image" content="https://iq.opengenus.org/content/images/2023/05/ITAC.png">
  <meta property="og:url" content="http://INDIA.OpenGenus.org/">
  <meta property="og:type" content="website">
  
  <!-- Twitter Cards meta tags for social media sharing -->
  <meta name="twitter:title" content="Indian Technical Authorship Contest 2023">
  <meta name="twitter:description" content="The Indian Technical Authorship Contest 2023 is a writing competition for engineering students in India. It runs from July 1st to October 1st, 2023.">
  <meta name="twitter:image" content="https://iq.opengenus.org/content/images/2023/05/ITAC.png">
  <meta name="twitter:card" content="summary_large_image">
</head>
<body>

<link rel="stylesheet" href="/assets/minimal/minimal.css">

<div data-typesettings="golden indented auto">
  <main>
    <article>
      <header>
        <h1>Indian Technical Authorship Contest 2023</h1>
        <h2 role="presentation">by OpenGenus, Starts from 3rd July 2023.</h2>
      </header>
      <section>

        <h2>ITAC 2023</h2>

        <hr>

        <p>ITAC is a Technical Authorship Contest for Engineering Students in India to reward and recognize emerging authors and researchers. This contest is free of cost and participation is completely online. All prizes will be delivered to the participant's home address.<br>This contest is organized by OpenGenus.</p>

        <table class="infobox biography vcard" style="table-layout:fixed;white-space:normal;"><tbody><tr><th colspan="3" style="text-align:center;font-size:125%;font-weight:bold;max-width:2px"><div class="fn" style="display:inline"></div></th></tr>
		<tr><th class="infobox-header" style="background-color: #b0c4de" colspan="2">Indian Technical Authorship Contest 2023</th></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Duration</td><td style="border:1px solid #c8ccd1;" class="role">3rd July 2023 to 3rd October (3 months, join anytime as early as possible)</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Open to</td><td style="border:1px solid #c8ccd1;" class="role">Engineering students in India &#127759;</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Results anounced</td><td style="border:1px solid #c8ccd1;" class="role">15 October 2023</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Prizes distributed</td><td style="border:1px solid #c8ccd1;" class="role">2 November 2023</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Location</td><td style="border:1px solid #c8ccd1;" class="role">Remote contest</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Skills needed</td><td style="border:1px solid #c8ccd1;" class="role">Knowledge in any Engineering domain; Writing skills</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Ranking criteria</td><td style="border:1px solid #c8ccd1;" class="role"><strong>Number of articles written</strong></td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Join the contest:</td><td style="border:1px solid #c8ccd1;" class="role">[<a href="https://discourse.opengenus.org/t/apply-to-indian-technical-authorship-contest-itac-2023/15930/">Apply here</a>] &#128072</td></tr>
		</tbody></table>

        <figure>
          <img src="/content/images/2023/05/ITAC.png" alt="Indian Technical Authorship Contest 2023">
          <figcaption>Indian Technical Authorship Contest 2023.</figcaption>
        </figure>

      <hr>

        <h2>Timeline</h2>

        <p>The contest starts on 3rd July 2023 and ends on 3rd October 2023.<br>
        Article submissions can be made anytime between 3rd July 2023 00:00 AM (midnight) to 3rd October 2023 11:59 PM (midnight). Candidates can apply and join the platform from 15th June 2023 and get familiarized with the platform.
    	Candidates can join anytime between the 3 months.<br><br>
    	Bookmark this page (CTRL + D) to stay updated.</p>

    	<table class="infobox biography vcard" style="table-layout:fixed;white-space:normal;"><tbody><tr><th colspan="2" style="text-align:center;font-weight:bold;max-width:2px"><div class="fn" style="display:inline"></div></th></tr>

		<tr><th colspan="2" class="infobox-header" style="background-color: #b0c4de">Timeline of ITAC 2023</th></tr>

		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Apply/ Join platform</td><td style="border:1px solid #c8ccd1;" class="role">15th June 2023</td></tr>		    
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Contest starts</td><td style="border:1px solid #c8ccd1;" class="role"><strong>3rd July 2023 00:00 AM (midnight)</strong></td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Leaderboard made public</td><td style="border:1px solid #c8ccd1;" class="role">10th July 2023</td></tr>
		<tr style="min-width:2px"><td colspan="2" style="border:1px solid #c8ccd1" class="role">Join anytime in between</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Contest ends</td><td style="border:1px solid #c8ccd1;" class="role"><strong>3rd October 2023 11:59 PM (midnight)</strong></td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Results announced</td><td style="border:1px solid #c8ccd1;" class="role">15th October 2023</td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Prizes distributed</td><td style="border:1px solid #c8ccd1;" class="role">2nd November 2023</td></tr>

		</tbody></table>

    <hr>

        <h2>Prizes</h2>

        <p>Rank is based on the number of articles published.<br><br>Following are the prizes in this contest:</p>

        <table class="infobox biography vcard" style="table-layout:fixed;white-space:normal;"><tbody><tr><th colspan="2" style="text-align:center;font-weight:bold;max-width:2px"><div class="fn" style="display:inline"></div></th></tr>
		<tr><th class="infobox-header" style="background-color: #b0c4de">Requirement</th><th scope="row">Prize</th></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">2 or more articles</td><td style="border:1px solid #c8ccd1;" class="role"><ul><li>Participation certificate</li><li>Free e-book on Algorithms worth INR 500</li></ul></td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">25 or more articles</td><td style="border:1px solid #c8ccd1;" class="role"><ul><li>Certificate of Excellence</li><li>Your profile added to our "<strong>Hall of Excellence</strong>" &#127942;.</li><li>Offer to become <strong>co-author</strong> for an upcoming book published by OpenGenus worldwide.</li><li>All the above</li></ul></td></tr>
    <tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Top 20 candidates</td><td style="border:1px solid #c8ccd1;" class="role"><ul><li>An exclusive Paperback book titled "<strong>Solve Algorithmic Problems with intuition</strong>" which is not available for sale and is only handed down to deserving candidates. (delivered)</li><li>All the above</li></ul></td></tr>
		<tr style="min-width:2px"><td style="border:1px solid #c8ccd1" class="role">Rank 1</td><td style="border:1px solid #c8ccd1;" class="role"><ul><li>Prize money of INR 50,000 &#128181</li><li>All the above</li></td></tr>
		</tbody></table>

    More prizes to be added.&#128337;<br>
    Note: Top 20 candidates should qualify the excellence level (25+ articles)

    <hr>

        <h2>Participation Rules</h2>

        <table>
        <caption>Rules for writing technical articles for ITAC 2023</caption>
        <tbody>
          <tr>
            <th aria-hidden="true">Step 1:</th>
            <td width="100%" aria-label="The system does provide">Select the topic for your first article. Make sure this topic has not been covered by searching on Google Search as "<code>topic site:iq.opengenus.org</code>".</td>
          </tr>
          <tr>
            <th aria-hidden="true">Step 2:</th>
            <td width="100%" aria-label="The system does provide">Comment on <a href="https://discourse.opengenus.org/t/apply-to-indian-technical-authorship-contest-itac-2023/15930/">this thread</a> with the topic you want to write on. Be sure to comment a topic that is not yet covered to proceed to step 3.<br>
              <img width="90%" src="/content/images/2023/05/itac-comment.png" alt="Messages on our forum"/></td>
          </tr>
          <tr>
            <th aria-hidden="true">Step 3:</th>
            <td width="100%" aria-label="The system does provide">Our mentor will message you on our forum with the link to join our editor where you need to write your article. Check for new messages on our forum (top right corner).<br>
              <img width="30%" src="https://iq.opengenus.org/content/images/2023/03/notification-otac-min.png" alt="Messages on our forum"/><br>
            If you did not get reply within a day, your topic was already covered. Find a better topic and comment again in Step 2.</td>
          </tr>
          <tr>
            <th aria-hidden="true">Step 4:</th>
            <td width="100%" aria-label="The system does provide">Write your article on the editor.<br><br>This is the <a href="https://iq.opengenus.org/guide-to-writing-a-note-at-opengenus-iq/">guide</a> for writing articles and this is the <a href="https://iq.opengenus.org/markdown-cheatsheet/">guide for markdown</a>. Take a look at this <a href="https://iq.opengenus.org/line-segments-form-rectangle/">published article</a> for the idea of how your article should look like. Once you have access to our editor (after Step 2), you can login directly at iq.opengenus.org/ghost.</td>
          </tr>
          <tr>
            <th aria-hidden="true">Step 5:</th>
            <td width="100%" aria-label="The system does provide">Reply back to your mentor with the article title that is ready for review.</td>
          </tr>
          <tr>
            <th aria-hidden="true">Step 6:</th>
            <td width="100%" aria-label="The system does provide">Mentor publishes your article.</td>
          </tr>
          <tr>
            <th aria-hidden="true">Step 7:</th>
            <td width="100%" aria-label="The system does provide">You move on to your next article.</td>
          </tr>
	      </tbody>
	  </table>

    <p>Once you start publishing articles in OTAC 2023, your author profile will be created and it will unlock further opportunities:<br>
    <center><img width="50%" src="https://iq.opengenus.org/content/images/2023/03/author-profile.png" alt="Author profile at OpenGenus" /></center>
    </p>
    
    <hr>

	  <h2>Contest Rules</h2>

	  <br><br>

      <table>
        <caption>Rules for writing technical articles for ITAC 2023</caption>
        <tbody>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">Write on any topic of your choice from any Engineering domain like Computer Science, Mechanical Engineering, Electrical Engineering and so on.</td>
          </tr>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">Make sure your topic is available (check covered topics by searching on Google Search as "<code>topic site:iq.opengenus.org</code>"</td>
          </tr>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">Write everything in your own words only. Only original content is accepted. It should not be published in any other platform.</td>
          </tr>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">Minimum word count is recommended to be 500 words.</td>
          </tr>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">Do not use any AI tool or extensions like Grammarly while writing your article and do not copy any content or images. Once caught by our automated checks, candidate will be given a warning or disqualified.</td>
          </tr>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">You can login to your editor at iq.opengenus.org/ghost (using your credentials after access is granted)</td>
          </tr>
          <tr>
            <th aria-hidden="true">&check;</th>
            <td width="100%" aria-label="The system does provide">For any doubts, ask your mentor by messaging directly.</td>
          </tr>
        </tbody>
      </table>

        <p>Welcome to India's Biggest Technical Writing contest. Best of Luck.<br><br>
        Follow ITAC on <a href="https://www.linkedin.com/showcase/indian-technical-authorship-contest/">LinkedIn</a>.<br>
        Follow OpenGenus on <a href="https://www.linkedin.com/company/opengenus/">LinkedIn</a>, <a href="https://twitter.com/OpenGenus">Twitter</a> and <a href="https://github.com/OpenGenus">GitHub</a> Get our <a href="https://play.google.com/store/apps/details?id=com.og.opengenus&pli=1">Android App</a>.<br>
        Email &#128231;: team [at] opengenus.org</p>

      </section>
      <hr><hr>

    </article>
  </main>
</div>

<style type="text/css">
	@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,500;0,700;1,500&display=swap");
:root {
  --ts-font-size: 1.2rem;
  --ts-font-weight-regular: 500;
  --ts-font-weight-bold: 700;
  --ts-font-family-only-one: "Brygada 1918", serif;
}

[data-typesettings] h1 {
  font-size: clamp(var(--ts-font-size-xxlarge) * 1.2, var(--ts-font-size-xxlarge) * 1.375 + 2.0vw, var(--ts-font-size-xxlarge) * 1.5);
  -webkit-hyphens: unset;
      -ms-hyphens: unset;
          hyphens: unset;
}

[data-typesettings] * {
  letter-spacing: 0;
}
</style>

</body>
</html>