<!DOCTYPE html>
<html>
<head>
<title>Choose the topic you want to explore.</title>
<link rel="stylesheet" type="text/css" href="/assets/css/path.css" />
</head>
<body>

<div class="container-content-homepage w-container">
  <h2 class="heading-of-content-blog">Choose the topic you want to explore.</h2>
  <div>

    <br>
    <h2 class="heading-of-content-blog">ALGORITHMS</h2>

    <div id="books" class="recommendations-div-homepage">
      <a href="https://iq.opengenus.org/100-interview-problems/"><h2 class="recommendation-sub-headline" data-ix="books"><span class="small-emoji">✔️&nbsp;</span>&nbsp;Must Attempt Algorithmic Problems CheckList</h2></a>
    </div>

    <div id="books" class="recommendations-div-homepage">
      <a href="https://iq.opengenus.org/list-of-dynamic-programming-problems/"><h2 class="recommendation-sub-headline" data-ix="books"><span class="small-emoji">📚&nbsp;</span>&nbsp;Dynamic Programming</h2></a>
    </div>

    <div id="books" class="recommendations-div-homepage">
      <a href="https://iq.opengenus.org/list-of-graph-algorithms/"><h2 class="recommendation-sub-headline" data-ix="books"><span class="small-emoji">📚&nbsp;</span>&nbsp;Graph Algorithms</h2></a>
    </div>

    <div id="books" class="recommendations-div-homepage">
      <a href="https://iq.opengenus.org/list-of-linked-list-problems/"><h2 class="recommendation-sub-headline" data-ix="books"><span class="small-emoji">📚&nbsp;</span>&nbsp;Master LINKED LIST with 50+ practice problems</h2></a>
    </div>

    <br>
    <h2 class="heading-of-content-blog">🤖 Machine Learning / Deep Learning</h2>

    <div id="movies" class="recommendations-div-homepage">
      <a href="https://iq.opengenus.org/deep-learning-projects/"><h2 class="recommendation-sub-headline" data-ix="books"><span class="small-emoji">🤖&nbsp;</span>&nbsp;Practical Deep Learning Projects</h2></a>
    </div>

    <br>
    <h2 class="heading-of-content-blog">Python Programming</h2>

    <div id="books" class="recommendations-div-homepage">
      <a href="https://iq.opengenus.org/intermediate-python-projects/"><h2 class="recommendation-sub-headline" data-ix="books"><span class="small-emoji">🤖&nbsp;</span>&nbsp;Practical Python Projects</h2></a>
    </div>


  </div><a href="https://iq.opengenus.org/" class="button-read-more w-button"> 👉 Check&nbsp;More</a>
</div>

</body>
</html>