<aside id="left-side-bar-inner" class="left-side-bar-inner top-left">
  <div class="tag-title">
    <span class="side-bar-tag-name">
      Interesting posts
    </span>
  </div>

  <div class="top-side-bar-links">
    <ul>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/best-competitive-programmers/">Top Competitive Programmers</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/unsolved-problems-in-algorithms/">Unsolved Problems in Algorithms</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/top-patent-person-in-india/">Top patent holders in India</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/get-developer-job-in-japan/">How to get Developer Job in Japan?</a></li>
      <li class="left-side-bar-link"><a href="http://internship.opengenus.org">[INTERNSHIP]</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/most-profitable-software-patents/">STORY: Most Profitable Software Patents</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/earn-by-filing-patents/">How to earn by filing Patents?</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/richest-programmers-in-the-world/">Richest Programmers in the World</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/evolution-of-integer-multiplication/">STORY: Multiplication from 1950 to 2022</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/position-of-india-in-icpc/">Position of India at ICPC World Finals (1999 to 2021)</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/most-dangerous-line-of-code/">Most Dangerous Line of Code 💀</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/age-of-programming-languages/">Age of All Programming Languages</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/earn-money-online-as-programmer/">How to earn money online as a Programmer?</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/kolmogorov-n2-conjecture/">STORY: Kolmogorov N^2 Conjecture Disproved</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/grigori-perelman/">STORY: man who refused $1M for his discovery</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/bram-moolenaar/">STORY: Man behind VIM</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/galactic-algorithm/">STORY: Galactic algorithm</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/inventor-of-linked-list/">STORY: Inventor of Linked List</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/tag/questions/">Practice Interview Questions</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/list-of-binary-tree-problems/">List of 50+ Binary Tree Problems</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/list-of-dynamic-programming-problems/">List of 100+ Dynamic Programming Problems</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/list-of-array-problems/">List of 50+ Array Problems</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/greedy-algorithms-you-must-attempt/">11 Greedy Algorithm Problems [MUST]</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/list-of-linked-list-problems/">List of 50+ Linked List Problems</a></li>
      <li class="left-side-bar-link"><a href="https://iq.opengenus.org/list-of-graph-algorithms/">100+ Graph Algorithms and Techniques</a></li>
    </ul>
    </ul>
  </div>
</aside>