<!-- SEARCH BAR OPENGENUS IQ -->
<center>
<form class="searchbar" role="search" method="get">
    <input
       autocomplete="off"
       name="q"
       placeholder="Search anything ..."
      title="search here"
      type="text"
      id="name"
      onclick="document.getElementById('id01').style.display='block'"
   class="searchbartext"
  />
  <button type="submit" disabled class="btn btn-default">
  &#x1F50D;
  </button>
</form>
</center>
<script async src="https://cse.google.com/cse.js?cx=partner-pub-6329206778297580:rcr8n5lvcxq"></script>
<!-- SEARCH BAR DONE -->