<center>
<form class="searchbar" role="search" method="get">
  <input
     autocomplete="off"
     name="q"
     placeholder="Search ..."
    title="search here"
    type="text"
    id="name11"
    onclick="openmodal();"
 class="searchbartext"
/>
<button type="submit" disabled class="btn-default">
&#x1F50D;
</button>
</form>
</center>